* {
  margin: 0;
  box-sizing: border-box;
}
.logo {
  width: 50px;
  height: 50px;
  background: url("../img/fairy2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav_container {
  position: fixed;
  top: 0;
}
.nav_container > :first-child {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
